@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  --color-purple: #6C63FF;
  --color-black: #252525;
  --color-white: F7F7F7;
  --font-kanit: "Kanit", sans-serif;
  --font-inter: "Inter", sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}