@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-purple: #6c63ff;
  --color-black: #252525;
  --color-white: #f7f7f7;
  --color-placeholder: #c3c1e5;
  --font-kanit: "Kanit", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

*,
*::after,
*::before {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  color: var(--color-black);
  font-family: var(--font-kanit);
}
